:root {
  --clrblack: #1e272e;
  --clrblack2: #2f3640;
  --clrblack3: #353b48;
  --clrred: #c23616;
  --clrred2: #e84118;
  --clrred3: #eb3b5a;
  --clrred4: #fc5c65;
  --clrblue: #0097e6;
  --clrblue2: #00a8ff;
  --clrgreen: #44bd32;
  --clrgreen2: #4cd137;
  --clrgreen3: #27ae60;
  --clrgreen4: #2ecc71;
  --clrwhite: #f5f6fa;
  --clrpurple: #8e44ad;
  --clrpurple2: #9b59b6;
  --clryellow: #f1c40f;
  --clryellow2: #fff200;
  --clrorange: #e67e22;
}

.periodic-table-20 {
  border: 2px solid var(--clrwhite);
  margin: 20px;
  padding: 5px;
  border-radius: 10px;

  button.nonmetal {
    background-color: var(--clrblue);
    color: var(--clrblack);
    transition: 0.1s;
  }

  button.nonmetal:hover {
    background-color: var(--clrblue2);
  }

  button.alkaliMetal {
    background-color: var(--clrred);
    transition: 0.1s;
  }

  button.alkaliMetal:hover {
    background-color: var(--clrred2);
  }

  button.alkalineEarthMetal {
    background-color: var(--clrorange);
    color: var(--clrblack);
  }

  button.metalloid {
    background-color: var(--clrgreen3);
    color: var(--clrblack);
  }

  button.metalloid:hover {
    background-color: var(--clrgreen4);
  }

  button.halogen {
    background: linear-gradient(-45deg, var(--clrblue2) 0%, var(--clrblack2) 75%);
    transition: 0.1s;
  }

  button.halogen:hover {
    background: linear-gradient(45deg, var(--clrblack2) 0%, var(--clrblue2) 75%);
  }

  button.nobleGas {
    background-color: var(--clrpurple);
    color: var(--clryellow);
    transition: 0.1s;
  }

  button.nobleGas:hover {
    background-color: var(--clrpurple2);
    color: var(--clrwhite);
  }

  button.basicMetal {
    background-color: var(--clrgreen);
    color: var(--clrblack);
  }

  button.basicMetal:hover {
    background-color: var(--clrgreen2);
  }

  button.transitionMetal {
    background-color: var(--clryellow);
    color: var(--clrblack);
    transition: 0.1s;
  }

  button.transitionMetal:hover {
    background-color: var(--clryellow2);
  }

  button.lanthanide {
    background-color: var(--clrred3);
    color: var(--clrblack);
  }

  button.lanthanide:hover {
    background-color: var(--clrred4);
  }

  button.actinide {
    background: linear-gradient(-45deg, var(--clrred3) 0%, var(--clrblack2) 75%);
  }

  .periodic-table-20__first-row {
    display: flex;
    justify-content: space-between;

    .periodic-table-20__titles {
      margin-right: 1dvw;
  
      .periodic-table-20__title {
        display: flex;
        align-items: center;
  
        h4 {
          font-size: 1dvw;
        }
      }
  
      .right {
        
        h4 {
          margin-right: 5px;
        }
      }
  
      .down {
        h4 {
          margin-left: 5px;
        }
      }
    }
  
    .periodic-table-20__groups {
      display: grid;
      grid-template-columns: repeat(18, 1fr);
      width: 100%;
      gap: 0.2dvw;
  
      span.periodic-table-20__group {
        border: 2px dashed var(--clrwhite);
        width: 4.5dvw;
        text-align: center;
        padding-top: 6px;
        display: block;
        
      }
    }
  }

  .periodic-table-20__second-row {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  
}

span.periodic-table-20__period {
  border: 2px dashed var(--clryellow);
  width: 5dvw;
  height: 4dvw;
  display: block;
  text-align: center;
  padding-top: 1.3dvw;
}

