:root {
  --clrblack: #1e272e;
  --clrblack2: #2f3640;
  --clrblack3: #353b48;
  --clrred: #c23616;
  --clrred2: #e84118;
  --clrred3: #eb3b5a;
  --clrred4: #fc5c65;
  --clrblue: #0097e6;
  --clrblue2: #00a8ff;
  --clrgreen: #44bd32;
  --clrgreen2: #4cd137;
  --clrgreen3: #27ae60;
  --clrgreen4: #2ecc71;
  --clrwhite: #f5f6fa;
  --clrpurple: #8e44ad;
  --clrpurple2: #9b59b6;
  --clryellow: #f1c40f;
  --clryellow2: #fff200;
  --clrorange: #e67e22;
}

.periodic-table-20 {
  border: 2px solid var(--clrblack3);
  margin: 20px;
  padding: 0px;
  border-radius: 10px;
  padding: 5px;
  
  table.periodic-table-20__table {

    tr.periodic-table-20__groups {

      th.periodic-table-20__group-title {
        display: flex;
        align-items: center;
        font-size: 1dvw;

        

        h4 {
          margin-right: 0.5dvw;
        }
      }

      th {
        font-size: 1.5dvw;
      }
    }

    tr.periodic-table-20__periods {

      th.periodic-table-20__period-title {
        display: flex;
        align-items: center;
        font-size: 1dvw;

        h4 {
          margin-left: 0.3dvw;
        }
      }
    }

    tr.periodic-table-20__first-period, 
    .periodic-table-20__second-period,
    .periodic-table-20__third-period,
    .periodic-table-20__fourth-period,
    .periodic-table-20__fifth-period,
    .periodic-table-20__sixth-period,
    .periodic-table-20__seventh-period {

      th {
        border: 2px solid var(--clrblack3);
        border-radius: 5px;
        background-color: var(--clrblack2);
        font-size: 1.5dvw;
      }
    }

    tr.periodic-table-20__sixth-period {

      td.td__lanthanide {
        font-size: 0.75dvw;
        text-align: center;
      }
    }

    tr.periodic-table-20__seventh-period {

      td.td__actinide {
        font-size: 0.85dvw;
        text-align: center;
      }
    }
    
    tr.periodic-table-20__lanthanide,
    .periodic-table-20__actinide {
      th {
        background-color: var(--clrblack2);
        border-radius: 5px;
        font-size: 1.75dvw;
      }
    }
  }

  button.periodic-table-20__btn {
    transition: 0.1s;
  }

  button.periodic-table-20__btn:hover {
    transform: scale(1.05);
  }

  button.periodic-table-20__btn:active {
    transform: scale(0.95);
    background-color: var(--clrwhite);
    color: var(--clrblack);
  }

  button.nonmetal {
    background-color: var(--clrblue);
    color: var(--clrblack);
    transition: 0.1s;
  }

  button.nonmetal:hover {
    background-color: var(--clrblue2);
  }

  button.nonmetal:active {
    background-color: var(--clrwhite);
  }

  button.alkaliMetal {
    background-color: var(--clrred);
    transition: 0.1s;
  }

  button.alkaliMetal:hover {
    background-color: var(--clrred2);
  }

  button.alkaliMetal:active {
    background-color: var(--clrwhite);
  }

  button.alkalineEarthMetal {
    background-color: var(--clrorange);
    color: var(--clrblack);
  }

  button.metalloid {
    background-color: var(--clrgreen3);
    color: var(--clrblack);
  }

  button.metalloid:hover {
    background-color: var(--clrgreen4);
  }

  button.halogen {
    background: linear-gradient(-45deg, var(--clrblue2) 0%, var(--clrblack2) 75%);
    transition: 0.1s;
  }

  button.halogen:hover {
    background: linear-gradient(45deg, var(--clrblack2) 0%, var(--clrblue2) 75%);
  }

  button.nobleGas {
    background-color: var(--clrpurple);
    color: var(--clryellow);
    transition: 0.1s;
  }

  button.nobleGas:hover {
    background-color: var(--clrpurple2);
    color: var(--clrwhite);
  }

  button.basicMetal {
    background-color: var(--clrgreen);
    color: var(--clrblack);
  }

  button.basicMetal:hover {
    background-color: var(--clrgreen2);
  }

  button.basicMetal:active {
    background-color: var(--clrwhite);
  }

  button.transitionMetal {
    background-color: var(--clryellow);
    color: var(--clrblack);
    transition: 0.1s;
  }

  button.transitionMetal:hover {
    background-color: var(--clryellow2);
  }

  button.transitionMetal:active {
    background-color: var(--clrwhite);
  }

  button.lanthanide {
    background-color: var(--clrred3);
    color: var(--clrblack);
  }

  button.lanthanide:hover {
    background-color: var(--clrred4);
  }

  button.lanthanide:active {
    background-color: var(--clrwhite);
  }

  button.actinide {
    background: linear-gradient(-45deg, var(--clrred3) 0%, var(--clrblack2) 75%);
    transition: 0.1s;
  }

  button.actinide:active {
    background: none;
    background-color: var(--clrwhite);
  }
  
}

@media screen and (max-width: 768px) {
  .periodic-table-20 {
    display: none;
  }
}